<div class="container">
  <h1>Longest Word</h1>
  <p>Make a word with the following letters :</p>
  <strong><%=@letters%></strong>

  <form class="form-group d-flex w-50 mt-3" action="/score" method="post" data-turbo="false">
    <input class="form-control" type="text" name="word" placeholder="Type a word using the letters above">
    <button type="submit" class="btn btn-primary">Submit</button>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </form>
</div>
